@model IEnumerable<NnhLesson09.Models.Publisher>

@{
    ViewData["Title"] = "Danh sách nhà xuất bản";
    Layout = "~/Views/Shared/Nnh_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PublisherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PublisherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-NnhId="@item.PublisherId">Edit</a> |
                <a asp-action="Details" asp-route-NnhId="@item.PublisherId">Details</a> |
                <a asp-action="Delete" asp-route-NnhId="@item.PublisherId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
